<div class="bg-primary-200 d-flex justify-center align-center py-24">
  <p class="h4 h5-md mr-24 mr-sm-16">加入會員取得 9 折優惠</p>
  <button type="button" class="btn btn-dark">馬上註冊</button>
</div>

<div class="bg-neutral-100">
  <footer class="container py-64 py-sm-32">
    <div class="d-flex py-16 justify-between d-sm-block mb-12">
      <a href="#" class="mb-sm-8"
        ><img
          src="/assets/images/logo.svg"
          alt="logo"
      /></a>
      <ul class="d-flex align-center d-sm-block px-sm-12">
        <li class="mr-40 mr-sm-0 mb-sm-4">
          <a href="products.html" class="py-12">商品列表</a>
        </li>
        <li><a href="brand-story.html" class="py-12">品牌故事</a></li>
      </ul>
    </div>
    <div class="footer-lined text-sm text-neutral-600 footer">
      <p class="pt-32 mb-4">Copyright ©2025 URBNSTYLE</p>
      <p>All Rights Reserved.</p>
    </div>
  </footer>
</div>
