<nav class="container d-flex py-16 py-sm-12 justify-between align-center">
  <ul class="d-flex align-center">
    <li class="mr-48">
      <a href="../pages/index.html"
        ><img
          src="assets/images/logo.svg"
          alt="logo"
      /></a>
    </li>
    <li class="mr-40 d-sm-none">
      <a href="products.html">商品列表</a>
    </li>
    <li class="d-sm-none"><a href="brand-story.html">品牌故事</a></li>
  </ul>
  <a class="p-12" href="#"><i class="bi bi-person"></i></a>
</nav>
