.brand-story-link a {
  color: $primary-400;
  text-underline-offset: 4px;
  text-decoration: underline;
}

.header {
  background-image: url("/assets/images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 152px 0;
  text-align: center;
}

.eng-title {
  font-size: 28px;
}

@media (max-width: 767px) {
  .header {
    padding: 87px 0;
    background-image: url("/assets/images/hero.png");
  }
  .eng-title {
    font-size: 20px;
  }
}

.quote {
  border-radius: 12px;
  text-align: center;
}

@media (max-width: 767px) {
  .quote {
    text-align: left;
  }
}

.brand-concept {
  border-left: 3px solid $neutral-300;
  padding-left: 12px;
}
